.place__paragraph-box {
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  max-width: 484px;
}

@media screen and (max-width: 1024px) {
  .place__paragraph-box {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph-box {
    max-width: 352px;
    row-gap: 25px;
  }
}

@media screen and (max-width: 626px) {
  .place__paragraph-box {
    max-width: 100%;
    row-gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .place__paragraph-box {
    padding: 0 16px;
  }
}
