.place__title {
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  max-width: 460px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
    font-size: calc(72px - (1024px - 100vw) * (30 / 256));
    /*
    При изменении разрешения с 1024px до 768px (1024px - 768px) = 256px
    font-size уменьшается с 72px до 42px, разница составляет(72px - 42px) = 30px 
    (30 / 256) - коэффициент изменения font-size при уменьшении разрешения на 1px
    (1024px - 100vw) - дельта, на которую изменилось разрешение
    (1024px - 100vw) * (30 / 256) - дельта, на которую изменился font-size
    (42px - (1024px - 100vw) * (30 / 256)) - величина font-size
    */
    line-height: calc(76px - (1024px - 100vw) * (30 / 256));
    /*
    При изменении разрешения с 1024px до 768px (1024px - 768px) = 256px
    line-height уменьшается с 76px до 46px, разница составляет(76px - 46px) = 30px
    (30 / 448) - коэффициент изменения line-height при уменьшении разрешения на 1px
    (1024px - 100vw) - дельта, на которую изменилось разрешение
    (1024px - 100vw) * (30 / 256) - дельта, на которую изменился fline-height
    (76px - (1024px - 100vw) * (30 / 256)) - величина line-height
    */
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 340px;
    font-size: calc(42px - (768px - 100vw) * (10 / 448));
    /*
    При изменении разрешения с 768px до 320px (768px - 320px) = 448px
    font-size уменьшается с 42px до 32px, разница составляет(42px - 32px) = 10px
    (10 / 448) - коэффициент изменения font-size при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (10 / 448) - дельта, на которую изменился font-size
    (42px - (768px - 100vw) * (10 / 448)) - величина font-size
    */
    line-height: calc(46px - (768px - 100vw) * (11 / 448));
    /*
    При изменении разрешения с 768px до 320px (768px - 320px) = 448px
    line-height уменьшается с 46px до 35px, разница составляет(46px - 35px) = 11px
    (11 / 448) - коэффициент изменения line-height при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (11 / 448) - дельта, на которую изменился fline-height
    (46px - (768px - 100vw) * (11 / 448)) - величина line-height
    */
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    max-width: 288px;
    padding: 0 16px;
  }
}
