.photo-grid__list {
  padding-top: 92px;
  padding-left: 48px;
  padding-right: 48px;
  display: grid;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  list-style: none;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
    gap: 14px;
    padding-left: calc(48px - (1024px - 100vw) * (24 / 256));
    padding-right: calc(48px - (1024px - 100vw) * (24 / 256));
    /*
        При изменении разрешения с 1024px до 768px (1024px - 768px) = 256px
        left и right padding уменьшается с 48px до 24px, разница составляет(48px - 24px) = 24px
        (24 / 448) - коэффициент изменения отступа при уменьшении разрешения на 1px
        (1024px - 100vw) - дельта, на которую изменилось разрешение
        (1024px - 100vw) * (24 / 256) - дельта, на которую изменился размер отступа
        (48px - (1024px - 100vw) * (24 / 256)) - величина отступа
        */
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__list {
    padding-top: calc(88px - (768px - 100vw) * (24 / 448));
    /*
        При изменении разрешения с 768px до 320px (768px - 320px) = 448px
        top padding уменьшается с 88px до 64px, разница составляет(88px - 64px) = 24px
        (24 / 448) - коэффициент изменения отступа при уменьшении разрешения на 1px
        (768px - 100vw) - дельта, на которую изменилось разрешение
        (768px - 100vw) * (24 / 448) - дельта, на которую изменился размер отступа
        (88px - (768px - 100vw) * (24/ 448)) - величина отступа
        */
    padding-left: calc(24px - (768px - 100vw) * (8 / 448));
    padding-right: calc(24px - (768px - 100vw) * (8 / 448));
    gap: 16px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    gap: 12px;
  }
}
