.place__image {
  width: calc(460px - (1280px - min(1280px, 100vw)) * (20 / 256));
  /*
    Изменение ширины
    При изменении разрешения с 1280px до 1024px (1280px - 1024px) = 256px
    Ширина уменьшается с 460px до 440px, разница составляет(460px - 440px) = 20px
    (20px / 256px) - коэффициент изменения ширины при уменьшении разрешения на 1px
    min(1280px, 100vw) - разрешние экрана, но не больше величины максимальной точки переламома
    (1280px - 100vw) - дельта, на которую изменилось разрешение
    (1280px - 100vw) * (20 / 256) - дельта, на которую измениллась ширина
    1280px - (1280px - min(1280px, 100vw)) * (20 / 256) - формула для рассчета ширины при конкретном разрешении 
    */
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .place__image {
    width: calc(440px - (1024px - 100vw) * (120 / 256));
    /*
    Изменение ширины
    При изменении разрешения с 1024px до 768px (1280px - 768px) = 256px
    Ширина уменьшается с 440px до 340px, разница составляет(460px - 340px) = 100px
    (100px / 256px) - коэффициент изменения ширины при уменьшении разрешения на 1px
    (1024px - 100vw) - дельта, на которую изменилось разрешение
    (1024px - 100vw) * (120 / 256) - дельта, на которую измениллась ширина
    440px - (1024px - 100vw) * (120 / 256) - формула для рассчета ширины при конкретном разрешении 
    */
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    width: calc(340px - (768px - 100vw) * (20 / 218));
    /*
      Изменение ширины
      При изменении разрешения с 768px до 320px (768px - 320px) = 448px
      Ширина уменьшается с 340px до 320px, разница составляет(340px - 320px) = 20px
      (20 / 448px) - коэффициент изменения ширины при уменьшении разрешения на 1px
      (768px - 100vw) - дельта, на которую изменилось разрешение
      (768px - 100vw) * (20 / 448) - дельта, на которую измениллась ширина
      340px - (768px - 100vw) * (20 / 448) - формула для рассчета ширины при конкретном разрешении 
      */
  }
}


@media screen and (max-width: 550px) {
    .place__image {
      width: 100%;
      
    }
  }