.lead {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 56px;
  padding-left: calc(148px - (1280px - min(1280px, 100vw)) * (100 / 256));
  padding-right: calc(148px - (1280px - min(1280px, 100vw)) * (100 / 256));
  /*
  При изменении разрешения с 1280px до 1024px (1280px - 1024px) = 256px
  left и right padding уменьшаются с 148px до 48px, разница составляет(148px - 48px) = 100px
  (100 / 256) - коэффициент изменения отступа при уменьшении разрешения на 1px
  min(1280px, 100vw) - разрешние экрана, но не больше величины максимальной точки переламома
  (1280px -  min(1280px, 100vw)) - дельта, на которую изменилось разрешение
  (1280px -  min(1280px, 100vw)) * (100/ 256) - дельта, на которую изменился размер отступа
  148px - (1280px - 100vw) * (100/ 256) - величина отступа
  */
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
    padding-left: calc(48px - (1024px - min(1024px, 100vw)) * (48 / 256));
    padding-right: calc(48px - (1024px - min(1024px, 100vw)) * (48 / 256));
    /*
    При изменении разрешения с 1024px до 768px (1024px - 768px) = 256px
    left и right padding уменьшаются с 48px до 0, разница составляет(48px - 0) = 48px
    (48 / 256) - коэффициент изменения отступа при уменьшении разрешения на 1px
    min(768px, 100vw) - разрешние экрана, но не больше величины следующей точки переламома, чтобы padding не стал отрицательным
    (1024px -  min(768px, 100vw)) - дельта, на которую изменилось разрешение
    (1024px -  min(1024px, 100vw)) * (48 / 256) - дельта, на которую изменился размер отступа
    48px - (1024px - min(1024px, 100vw)) * (48 / 256) - величина отступа
    */
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}
