.header__logo {
  background-image: url(../../.././images/logo/header__logo.svg);
  width: 176px;
  height: 52px;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
}

.header__logo:hover {
  opacity: 0.8;
}
@media screen and (max-width: 768px) {
  .header__logo {
    width: calc(176px - (768px - 100vw) * (34 / 448));
    /*
    При изменении разрешения с 768px до 320px (768px - 320px) = 448px
    ширина уменьшается с 176px до 142px, разница составляет(176px - 142px) = 34px
    (34 / 448) - коэффициент изменения ширины при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (34 / 448) - дельта, на которую изменилась ширина
    48px - (768px - 100vw) * (34 / 448) - формула для рассчета ширины при конкретном разрешении 
    */
    height: calc((176px - (768px - 100vw) * (34 / 448)) * (52 / 176));
    /*
    (52 / 176) - отношение высоты к ширине
    ширина * (52 / 176) - высота логотипа
    */
  }
}
