.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    padding-left: calc(48px - (1024px - 100vw) * (24 / 256));
    padding-right: calc(48px - (1024px - 100vw) * (24 / 256));
    /*
    При изменении разрешения с 1024px до 768px (1024px - 768px) = 256px
    left и right padding уменьшаются с 48px до 24px, разница составляет(48px - 24px) = 24px
    (24 / 256) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (1024px - 100vw) - дельта, на которую изменилось разрешение
    (1024px - 100vw) * (24/ 256) - дельта, на которую изменился размер отступа
    48px - (1024px - 100vw) * (24/ 256) - величина отступа
    */
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding-top: calc(28px - (768px - 100vw) * (12 / 448));
    /*При изменении разрешения с 768px до 320px (768px -  320px) = 448px
    top padding уменьшается с 28px до 16px, разница составляет(28px - 16px) = 12px
    (12 / 448) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (12 / 448) - дельта, на которую изменился размер отступа
    (28px - (768px - 100vw) * (12/ 448)) - величина отступа*/
    padding-left: calc(24px - (768px - 100vw) * (8 / 448));
    padding-right: calc(24px - (768px - 100vw) * (8 / 448));
    
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
  }
}
