.header {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  padding: 28px 48px 0;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    padding: 28px calc(48px - (1024px - 100vw) * (24 / 256)) 0;
    /*
    Плавное изменение размеров left и right padding
    При изменеие разрешения с 928px до 768px (928px - 768px) = 256px
    left и right padding уменьшаются с 48px до 24px, разница составляет(48px - 24px) = 24px
    (24 / 256) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (1024px - 100vw) - дельта, на которую изменилось разрешение
    (1024px - 100vw) * (24/ 256) - дельта, на которую изменился размер отступа
    48px - (1024px - 100vw) * (24/ 256) - величина отступа
    */
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    padding: calc(28px - (768px - 100vw) * (12 / 448))
      calc(24px - (768px - 100vw) * (8 / 448)) 0;
    /*
    Плавное изменение размеров top, left и right padding
    При изменеие разрешения с 768px до 320px (768px -  320px) = 448px
    top padding
    top padding уменьшается с 28px до 16px, разница составляет(28px - 16px) = 12px
    (12 / 448) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (12 / 448) - дельта, на которую изменился размер отступа
    (28px - (768px - 100vw) * (12/ 448)) - величина отступа
    left и right padding
    left и right padding уменьшаются с 24px до 16px, разница составляет(24px - 16px) = 8px
    (8 / 448) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (8 / 448) - дельта, на которую изменился размер отступа
    (24px - (768px - 100vw) * (8/ 448)) - величина отступа
    */
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    padding: 16px 16px 0;
  }
}
