.footer__link {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  text-decoration: none;
}


@media screen and (max-width: 660px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}


.footer__link:hover {
  opacity: 0.8;
}