.lead__title {
  color: #fff;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  max-width: 720px;
  margin: 0 auto;
}


@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc(96px - (768px - 100vw) * (56 / 448));
     /*
    Плавное изменение font-size
    При изменеие разрешения с 768px до 320px (768px -  320px) = 448px
    font-size уменьшается с 96px до 40px, разница составляет(96px - 40px) = 56px   
    (56 / 448) - коэффициент изменения font-size при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (56 / 448) - дельта, на которую изменился font-size
    (96px - (768px - 100vw) * (56 / 448)) - величина font-size
    */
    line-height: calc(100px - (768px - 100vw) * (56 / 448));
    /*
    Плавное изменение line-height
    При изменеие разрешения с 768px до 320px (768px -  320px) = 448px
    line-height уменьшается с 100px до 44px, разница составляет(100px - 44px) = 56px   
    (56 / 448) - коэффициент изменения line-height при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (56 / 448) - дельта, на которую изменился fline-height
    (96px - (768px - 100vw) * (56 / 448)) - величина line-height
    */
    width: calc(720px - (768px - 100vw) * (432 / 448));
    /*
    Плавное изменение ширины заголовка
    При изменеие разрешения с 768px до 320px (768px - 288px) = 448px
    ширина уменьшается с 720px до 320px, разница составляет(720px - 288px) = 432px
    (432 / 448) - коэффициент изменения ширины при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (432 / 448) - дельта, на которую измениллась ширина
    720px - (768px - 100vw) * (432 / 448) - формула для рассчета ширины при конкретном разрешении 
    */
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}
 