.lead__image {
  width: 100%;
  max-height: 615px;
  margin: 0 auto;
  padding-top: calc(64px - (1280px - min(1280px, 100vw)) * (8 / 256));
  /*
  При изменении разрешения с 1280px до 1024px (1280px - 1024px) = 256px
  padding-top  уменьшается с 64px до 56px, разница составляет(64px - 56px) = 8px
  (8 / 256) - коэффициент изменения padding-top  при уменьшении разрешения на 1px
  min(1280px, 100vw) - разрешение экрана, но не больше величины максимальной точки перелома
  (1280px -  min(1280px, 100vw)) - дельта, на которую изменилось разрешение
  (1280px -  min(1280px, 100vw)) * (8/ 256) - дельта, на которую изменился padding-top 
  64px - (1280px -  min(1280px, 100vw)) * (8 / 256) - формула для расчета padding-top  при конкретном разрешении 
  */
  max-width: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    padding-top: 56px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    padding-top: calc(56px - (768px - 100vw) * (16 / 448));
    /*
    При изменение разрешения с 768px до 320px (768px - 320px) = 448px
    padding-top уменьшается с 56px до 40px, разница составляет(56px - 40px) = 16px
    (16 / 448) - коэффициент изменения padding-top при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменился padding-top
    (768px - 100vw) * (16 / 448) - дельта, на которую изменилась ширина
    56px - (768px - 100vw) * (16 / 448) - формула для расчета padding-top при конкретном разрешении 
    */
  }
}
