.intro {
  max-width: 690px;
  padding-left: calc(148px - (1280px - min(1280px, 100vw)) * (100 / 256));
  padding-right: calc(148px - (1280px - min(1280px, 100vw)) * (100 / 256));
  /*
  При изменении разрешения с 1280px до 1024px (1280px - 1024px) = 256px
  left и right padding уменьшаются с 148px до 48px, разница составляет(148px - 48px) = 100px
  (100 / 256) - коэффициент изменения отступа при уменьшении разрешения на 1px
  min(1280px, 100vw) - разрешние экрана, но не больше величины максимальной точки переламома
  (1280px -  min(1280px, 100vw)) - дельта, на которую изменилось разрешение
  (1280px -  min(1280px, 100vw)) * (100/ 256) - дельта, на которую изменился размер отступа
  148px - (1280px - 100vw) * (100/ 256) - величина отступа
  */
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: calc(48px - (1024px - 100vw) * (20 / 256));
    padding-right: calc(48px - (1024px - 100vw) * (20 / 256));
    /*
    При изменении разрешения с 1024px до 768px (1024px -  768px) = 256px
    left и right padding уменьшаются с 48px до 24px, разница составляет(48px - 24px) = 20px
    (20 / 256) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (1024px - 100vw) - дельта, на которую изменилось разрешение
    (1024px - 100vw) * (20 / 256) - дельта, на которую изменился размер отступа
    (48px - (1024px - 100vw) * (20/ 256)) - величина отступа
    */
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding-left: calc(24px - (768px - 100vw) * (8 / 448));
    padding-right: calc(24px - (768px - 100vw) * (8 / 448));
    /*
    При изменении разрешения с 768px до 320px (768px -  320px) = 448px
    left и right padding уменьшаются с 24px до 16px, разница составляет(24px - 16px) = 8px
    (8 / 448) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (8 / 448) - дельта, на которую изменился размер отступа
    (24px - (768px - 100vw) * (8/ 448)) - величина отступа
    */
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 284px;
  }
}
