.lead__subtitle {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 32px;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc(30px - (768px - 100vw) * (14 / 448));
    /*
    Плавное изменение font-size
    При изменеие разрешения с 768px до 320px (768px -  320px) = 448px
    font-size уменьшается с 30px до 16px, разница составляет(30px - 16px) = 14px   
    (14/ 448) - коэффициент изменения font-size при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (10 / 448) - дельта, на которую изменился font-size
    (30px - (768px - 100vw) * (14 / 448)) - величина font-size
    */
    line-height: calc(36px - (768px - 100vw) * (16 / 448));
    /*
    Плавное изменение line-height
    При изменеие разрешения с 768px до 320px (768px -  320px) = 448px
    line-height уменьшается с 36px до 20px, разница составляет(36px - 20px) = 16px   
    (16 / 448) - коэффициент изменения line-height при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (16 / 448) - дельта, на которую изменился fline-height
    (36px - (768px - 100vw) * (16 / 448)) - величина line-height
    */
    padding-top: calc(32px - (768px - 100vw) * (16 / 448));
    /*
    Плавное изменение padding-top 
    При изменеие разрешения с 768px до 320px (768px - 320px) = 448px
    ширина уменьшается с 32px до 16px, разница составляет(32px - 16px) = 16px
    (16 / 448) - коэффициент изменения ширины при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (16 / 448) - дельта, на которую измениллась ширина
    32px - (768px - 100vw) * (16 / 448) - формула для рассчета ширины при конкретном разрешении 
    */

    width: calc(640px - (768px - 100vw) * (352 / 448));
    /*
    Плавное изменение ширины 
    При изменеие разрешения с 768px до 320px (768px - 320px) = 448px
    ширина уменьшается с 640px до 288px, разница составляет(640px - 288px) = 352x
    (352 / 448) - коэффициент изменения ширины при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (352 / 448) - дельта, на которую измениллась ширина
    640px - (768px - 100vw) * (352 / 448) - формула для рассчета ширины при конкретном разрешении 
    */
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    padding-top: 16px;
    max-width: 288px;
  }
}
