.lead__subtitle {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 32px;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: calc(30px - (768px - 100vw) * (14 / 448));
    /*
    При изменении разрешения с 768px до 320px (768px -  320px) = 448px
    font-size уменьшается с 30px до 16px, разница составляет(30px - 16px) = 14px   
    (14/ 448) - коэффициент изменения font-size при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (10 / 448) - дельта, на которую изменился font-size
    (30px - (768px - 100vw) * (14 / 448)) - величина font-size
    */
    line-height: calc(36px - (768px - 100vw) * (16 / 448));
    /*
    При изменении разрешения с 768px до 320px (768px -  320px) = 448px
    line-height уменьшается с 36px до 20px, разница составляет(36px - 20px) = 16px   
    (16 / 448) - коэффициент изменения line-height при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (16 / 448) - дельта, на которую изменился line-height
    (36px - (768px - 100vw) * (16 / 448)) - величина line-height
    */
    padding-top: calc(32px - (768px - 100vw) * (16 / 448));

    /*
    При изменении разрешения с 768px до 320px (768px - 320px) = 448px
    padding-top уменьшается с 32px до 16px, разница составляет(32px - 16px) = 16px
    (16 / 448) - коэффициент изменения padding-top при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (16 / 448) - дельта, на которую изменился padding-top
    32px - (768px - 100vw) * (16 / 448) - формула для расчета padding-top при конкретном разрешении 
    */
    max-width: 640px;
    padding-left: calc(64px - (768px - 100vw) * (48 / 448));
    padding-right: calc(64px - (768px - 100vw) * (48 / 448));
    /*
    При изменении разрешения с 768px до 320px (768px -  320px) = 448px
    left и right padding уменьшаются с 64px до 16px, разница составляет(64px - 16px) = 48px
    (48 / 448) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (48 / 448) - дельта, на которую изменился размер отступа
    (64px - (768px - 100vw) * (48/ 448)) - величина отступа
    */
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
  }
}
