.cover {
  margin: 0 auto;
  width: calc(1184px - (1280px - min(1280px, 100vw)) * (160 / 256));
  /*
  При изменении разрешения с 1280px до 1024px (1280px - 1024px) = 256px
  width  уменьшается с 1184px до 1024px, разница составляет(1184px - 1024px) = 160px
  (8 / 256) - коэффициент изменения width  при уменьшении разрешения на 1px
  min(1280px, 100vw) - разрешние экрана, но не больше величины максимальной точки переламома
  (1280px -  min(1280px, 100vw)) - дельта, на которую изменилось разрешение
  (1280px -  min(1280px, 100vw)) * (160/ 256) - дельта, на которую изменился width
  1184px - (1280px -  min(1280px, 100vw)) * (160 / 256) - формула для рассчета width  при конкретном разрешении 
  calc(
  */
  height: calc(
    (1184px - (1280px - min(1280px, 100vw)) * (160 / 256)) * (740 / 1184)
      /*
  (740 / 1184) - отношение высоты к ширине
  width * (740 / 1184) - высота логотипа
  */
  );
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100vw;
    /*
    При изменении разрешения с 1024px до 768px (1024px - 768px) = 256px
    width  уменьшается с 1184px до 1024px, разница составляет(1184px - 1024px) = 160px
    (8 / 256) - коэффициент изменения width  при уменьшении разрешения на 1px
    min(1280px, 100vw) - разрешние экрана, но не больше величины максимальной точки переламома
    (1280px -  min(1024px, 100vw)) - дельта, на которую изменилось разрешение
    (1280px -  min(1024px, 100vw)) * (160/ 256) - дельта, на которую изменился width
    1184px - (1280px -  min(1280px, 100vw)) * (160 / 256) - формула для рассчета width  при конкретном разрешении 
    calc(
    */
    height: calc(100vw * (640 / 1024));
    /*
   (640 / 1024) - отношение высоты к ширине
    width * (640 / 1024) - высота логотипа
    */
  }
}
