.cover {
  margin: 0 auto;
  width: calc(1184px - (1280px - min(1280px, 100vw)));
  /*
  Чтобы блок не выходил за рамки нужно чтобы он уменьшался в соотношении 1px разрешения/ 1px ширины
  min(1280px, 100vw) - чтобы блок не изменялся при разрешении больше 1280px
  (1280px - min(1280px, 100vw)) - ищем значение, на которое уменьшилось разрешение
  1184px - (1280px - min(1280px, 100vw)) - уменьшаем ширину
  */
  min-height: 740px;
  /*
  (740 / 1184) - отношение высоты к ширине
  width * (740 / 1184) - высота 
  */
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 0;
    width: 100%;
    min-height: calc(100vw * (640 / 1024));
    /*
   (640 / 1024) - отношение высоты к ширине
    width * (640 / 1024) - высота 
    */
  }
}
