.footer__navigation-list {
  margin: 0;
  list-style: none;
  display: flex;
  column-gap: 18px;
  padding-left: 0;
}


@media screen and (max-width: 660px) {
  .footer__navigation-list {
    flex-direction: column;
    row-gap: 32px;
  }
}
