.lead__caption {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    padding-left:  calc((1024px -  100vw) * (24 / 256));
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: calc(24px - (768px - 100vw) * (8 / 448));
  }
}

