.lead__caption {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 8px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .lead__caption {
    padding-left: calc((1024px - 100vw) * (24 / 256));
    /*
    При изменении разрешения с 1024px до 768px (1024px -  768px) = 256px
    left padding увеличится с 0 до 24px, разница составляет 24px
    (24 / 256) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (24 / 256) - дельта, на которую изменился размер отступа
    (64px - (768px - 100vw) * (24/ 256)) - величина отступа
    */
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: calc(24px - (768px - 100vw) * (8 / 448));
    /*
    При изменении разрешения с 768px до 320px (768px -  320px) = 448px
    left padding уменьшаются с 24px до 16px, разница составляет(24px - 16px) = 8px
    (8 / 448) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (768px - 100vw) - дельта, на которую изменилось разрешение
    (768px - 100vw) * (8 / 448) - дельта, на которую изменился размер отступа
    (24px - (768px - 100vw) * (8/ 448)) - величина отступа
    */
  }
}
