.place {
  display: grid;
  grid-template-columns: 460fr 488fr;
  column-gap: calc(40px - (1280px - min(1280px, 100vw)) * (8 / 256));
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: calc(32px - (1024px - 100vw) * (4 / 256));
    grid-template-columns: 440fr 456fr;
  }
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
    row-gap: calc(48px - (768px - 100vw) * (16 / 448));
    grid-template-columns: 340fr 352fr;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 100%;
  }
}

@media screen and (max-width: 320px) {
  .place {
    row-gap: 32px;
  }
}
 