.header__lang-links {
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
  column-gap: 18px;
  padding-top: 18px;
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    padding-top: calc(18px - (768px - 100vw) * (4 / 448));
  }
  /*
  При изменении разрешения с 768px до 320px (768px -  320px) = 448px
  top padding уменьшается с 18px до 14px, разница составляет(18px - 14px) = 4px   
  (4 / 448) - коэффициент изменения отступа при уменьшении разрешения на 1px
  (768px - 100vw) - дельта, на которую изменилось разрешение
  (768px - 100vw) * (12 / 448) - дельта, на которую изменился размер отступа
  (28px - (768px - 100vw) * (12/ 448)) - величина отступа
  */
}
