.place__website {
  max-width: 484px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 12px;

}

@media screen and (max-width: 1024px) {
  .place__website {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__website {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__website {
    max-width: 280px;
    padding:0 16px;
  }
}
 