.place-list {
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: calc(148px - (1280px - min(1280px, 100vw)) * (100 / 256));
  padding-right: calc(148px - (1280px - min(1280px, 100vw)) * (100 / 256));
  /*
  При изменении разрешения с 1280px до 1024px (1280px - 1024px) = 256px
  left и right padding уменьшаются с 148px до 48px, разница составляет(148px - 48px) = 100px
  (100 / 256) - коэффициент изменения отступа при уменьшении разрешения на 1px
   min(1280px, 100vw) - разрешние экрана, но не больше величины максимальной точки переламома
  (1280px -  min(1280px, 100vw)) - дельта, на которую изменилось разрешение
  (1280px -  min(1280px, 100vw)) * (100/ 256) - дельта, на которую изменился размер отступа
  148px - (1280px - 100vw) * (100/ 256) - величина отступа
  */
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .place-list {
    padding-left: calc(48px - (1024px - 100vw) * (20 / 256));
    padding-right: calc(48px - (1024px - 100vw) * (20 / 256));
    /*
    При изменении разрешения с 1024px до 768px (1024px - 768px) = 256px
    left и right padding уменьшаются с 48px до 28px, разница составляет(48px - 28px) = 20px
    (20 / 256) - коэффициент изменения отступа при уменьшении разрешения на 1px
    (1024px -  100vw) - дельта, на которую изменилось разрешение
    (1024px -  100vw) * (20 / 256) - дельта, на которую изменился размер отступа
    48px - (1024px - min(1024px, 100vw)) * (20 / 256) - величина отступа
    */
    row-gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .place-list {
    padding-top: 88px;
    padding-bottom: 90px;
    padding-left: 24px;
    padding-right: 24px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 600px) {
  .place-list {
    padding-top: 64px;
    padding-bottom: 66px;
    padding-left: 0;
    padding-right: 0;
    row-gap: 50px;
  }
}
