.place-list {
  padding: 92px 148px 92px;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media screen and (max-width: 1024px) {
  .place-list {
    padding: 92px 48px 92px;
    row-gap: 80px;
  }
}

@media screen and (max-width: 768px) {
  .place-list {
    padding: 88px 24px 290px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 320px) {
  .place-list {
    padding: 64px 0px 66px;
    row-gap: 50px;
  }
}
