.intro__title {
  color: #fff;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 58px;
  margin: 0;
  padding-top: 92px;
  max-width: 690px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    padding-top: calc(88px - (768px - 100vw) * (24 / 448));
    /*
      При изменении разрешения с 768px до 320px (768px - 320px) = 448px
      padding-top уменьшается с 88px до 64px, разница составляет(88px - 64px) = 24px
      (24 / 448) - коэффициент изменения padding-top при уменьшении разрешения на 1px
      (768px - 100vw) - дельта, на которую изменилось разрешение
      (768px - 100vw) * (24/ 448) - дельта, на которую изменился padding-top
      (88px - (768px - 100vw) * (24 / 448)) - величина padding-top
      */
    max-width: 720px;
    font-size: calc(54px - (768px - 100vw) * (22 / 448));
    /*
      При изменении разрешения с 768px до 320px (768px - 320px) = 448px
      font-size уменьшается с 54px до 32px, разница составляет(54px - 32px) = 22px
      (22 / 448) - коэффициент изменения font-size при уменьшении разрешения на 1px
      (768px - 100vw) - дельта, на которую изменилось разрешение
      (768px - 100vw) * (22 / 448) - дельта, на которую изменился font-size
      (54px - (768px - 100vw) * (22 / 448)) - величина font-size
      */
    line-height: calc(58px - (768px - 100vw) * (23 / 448));
    /*
      При изменении разрешения с 768px до 320px (768px - 320px) = 448px
      line-height уменьшается с 58px до 35px, разница составляет(58px - 35px) = 23px
      (23 / 448) - коэффициент изменения line-height при уменьшении разрешения на 1px
      (768px - 100vw) - дельта, на которую изменилось разрешение
      (768px - 100vw) * (23 / 448) - дельта, на которую изменился line-height
      (58px - (768px - 100vw) * (23 / 448)) - величина line-height
      */
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
  }
}
